<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/gallery.css" />
    <link rel="stylesheet" type="text/css" href="css/info.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/news.css" />

    <script type="text/javascript" src="scripts/angular.js"></script>
    <!--<script type="text/javascript" src="scripts/snow.js"></script> -->
    <script type="text/javascript" src="scripts/index.js"></script>
    <script type="text/javascript" src="scripts/gallery.js"></script>
    <script type="text/javascript" src="scripts/info.js"></script>

</head>
<body data-ng-app="main" data-ng-controller="mainController" data-ng-style="{'font-size': fontSize + 'px'}">
    <div class="top">
        <div class="logo"></div>
    </div>
    <div class="body">
        <div class="menu" data-ng-controller="menuController">
            <div class="button{{(index == active)?' active':''}}" data-ng-repeat="(index, item) in menu"
                 data-ng-click="menuClick(index)">
                <div data-ng-bind="item.title"></div>
            </div>
        </div>
        <div class="center">
            <div class="right"></div>
            <div class="left">
                <div data-ng-include="url"></div>
            </div>

        </div>
    </div>
</body>
</html>