<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="scripts/dojo.js"></script>
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/test.js"></script>
</head>
<body data-ng-app="test", data-ng-controller="testController">
<button data-ng-click="buttonone()">Button one</button>
<button data-ng-click="add()">add</button>
<button>{{name}}</button>
<input data-ng-model="name"/>
<input data-ng-model="price"/>
<input data-ng-model="num"/>
<div data-ng-repeat="(index, item) in basket">
    <span>{{index+1}}</span>
    <span>Имя {{item.name}}</span>
    <span>Цена {{item.price}}</span>
    <span>Количество {{item.num}}</span>
    <span>Итого {{item.price*item.num}}</span>
    <button data-ng-click="delete()">х</button>
</div>
</body>
</html>