.gallery {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.gallery .item {
    width: 105px;
    height: 180px;
    margin: 0 13px 14px 0;
    float: left;
    cursor: pointer;
    overflow: hidden;
}

.gallery .item:hover .name{
    color: #083255;
}

.gallery .item.last {
    margin-right: 0;
}

.gallery .container {
   height: 100%;
}

.gallery .item .image {
    height: 160px;
    vertical-align: middle;
}

.gallery .item .folder {
    height: 100px;
    display: inline-block;
    margin-top: 30px;
}

.gallery .item .name {
    text-align: center;
    color: #202020;
    margin: 0 5px 0 5px;
    font-weight: bolder;
    font-size: 0.9em;
}

.gallery .item .placeholder {
    height: 100%;
    width: 100%;
    text-align: center;
}

.gallery .item.folderholder {
    width: 240px;
}

.gallery .fullscreen {
    position: absolute;
    background-color: rgba(0,0,0,0.85);
    left: 2.57%;
    top: 5.383%;
    width: 94.86%;
    height: 90%;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.gallery .fullscreen .image {
    height: 100%;
}

.gallery .fullscreen .table {
    display: table;
    height: 100%;
    width: 100%;
}

.gallery .fullscreen .table .tableCell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.gallery .fullscreen .table .tableCell > div {
    height: 550px;
}

.gallery .fullscreen .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: url("../images/close.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.gallery .fullscreen .close:hover {
    background: url("../images/closehover.png") no-repeat;
    background-size: 100% 100%;
}

.gallery .fullscreen .arrow {

    top: 10px;
    color: white;
    font-size: 3em;
    font-weight: bold;
    width: 30px;
    height: 40px;
    cursor: pointer;
}

.gallery .fullscreen .arrowbox {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 50%;
}

.gallery .fullscreen .arrow.left {
    float: left;
    margin-left: 10px;
}

.gallery .fullscreen .arrow.right {
    float: right;
    margin-right: 10px;
}

.gallery .fullscreen .arrow.left:hover {
    color: #a4c1da;
}

.gallery .fullscreen .arrow.right:hover {
    color: #a4c1da;
}