html {
    width: 100%;
    height: 100%;
}

.top {
    background-color: #6a99c1;
    width: 100%;
    height: 13.08%;
    padding-top: 2.57%;
}

.logo {
    background-color: #175283;
    width: 94.86%;
    height: 100%;
    margin: 0 2.57% 0 2.57%;
}

.body {
    background-color: #a4c1da;
    width: 100%;
    height: 81.67%;
}

.menu {
    background-color: #083255;
    height: 4%;
    width: 74.92%;
    text-align: justify;
    margin: 0 2.57% 0 2.57%;
    padding:6px 9.97% 6px 9.97%;
}

.menu:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}
.button {
    background-color: #a4c1da;
    color: white;
    text-align: center;
    font-weight: bolder;
    width: 10.38%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    margin-right: 17%;
}

.button:last-child {
    margin-right: 0;
}

.button:before {
    display: inline-block;
    height: 100%;
    width: 0;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
    content: "";
}

.button:hover {
     background-color: #8aafd0;
 }

.button.active {
    background-color: #6a99c1;
}

.button > div {
    display: inline-block;
    vertical-align: middle;
}

.body > .center {
    margin: 1% 2.57% 0 2.57%;
    height: 81.59%;
    width: 94.85%;
}

.center > .right {
    float: left;
    height: 100%;
    background-color: white;
    background: url(../images/avatar.jpg) no-repeat;
    background-size: auto 100%;
    background-position: 70% 0;
    border: 6px solid white;
    box-sizing: border-box;
    width: 30.15%;
    margin-right: 2.72%;
}

.center > .left{
    float: left;
    height: 100%;
    background-color: white;
    width: 67.13%;
    padding: 1%;
    box-sizing: border-box;
}

.center > .left > div{
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #083255;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 20px;
}

h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}
