.info {
    height: 100%;
}

.info .right > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bolder;
}

.info .right {
    height: 100%;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    font-size: 0;
}

.info .right:before {
    content: '';
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    /*margin-left: -4px;*/

}

.info .left {
    height: 100%;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.info .user {
    height: 100px;
    width: 100px;
    background: url(../images/user.jpg) no-repeat;
    background-size: 100% 100%;
    border: 3px solid #a4c1da;
    box-sizing: border-box;
    float: left;
}

.info .text {
    float: left;
    padding-left: 5%;
    margin-top: -3%;
}

.info .center {
    clear: both;
    width: 100%;
    padding-top: 5%;
}

.info .map {
     height: 100%;
     text-align: center;
 }

.info .map > div {
    width: 75%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.info .map > div:before {
    content: '';
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
}

.info .map > div > iframe {
    vertical-align: middle;
    width: 92%;
    height: 75%;
    border: 3px solid #a4c1da;
}
