.main {
    text-align: justify;
    vertical-align: middle;
    display: table;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.main > div {
    display: table-cell;
    vertical-align: middle;
}

.main > div > h2 {
    padding-bottom: 5%;
}