.newscontainer {
    height: 100%;
    overflow-y: auto;
}

.news {
    width: 95%;
    margin-bottom: 2%;
    background-color: #a4c1da;
    padding: 2%;
    text-align: justify;
}
.news > h3 {
    margin: 5px 0 5px 0;
}
.news > p {
    margin: 0;
}