<div id="Gallery" class="gallery" data-ng-controller="galleryController">
    <div class="container">
        <div class="item{{isFolder(item)?' folderholder':''}}" data-ng-repeat="(index, item) in current" data-ng-click="clickItem(index)">
            <div class="placeholder">
                <img class="{{getItemClass(item)}}" data-ng-src="{{ item.thumb }}"/>
                <div data-ng-if="isFolder(item)" class="name" data-ng-bind="item.name">.</div>
            </div>
        </div>
    </div>
    <div class="fullscreen" data-ng-show="isFullscreen">
        <div class="table">
            <div class="tableCell">
                <div>
                    <img class="image" data-ng-src="{{ currentImage.path }}"/>
                </div>
            </div>
        </div>
        <div class="close" data-ng-click="closeFullscreen()"></div>
        <div class="arrowbox">
            <div class="arrow left" data-ng-click="leftClick()">&lt;</div>
            <div class="arrow right" data-ng-click="rightClick()">&gt;</div>
        </div>
    </div>
</div>