<div class="info" data-ng-controller="infoController">
    <div class="right">
        <div>
            <div class="user"></div>
            <div class="text">
                <p>Козлачкова Людмила</p>

                <p>skype: l13912</p>
                <a href="mailto:13912@mail.ru">e-mail: 13912@mail.ru</a>
            </div>
            <div class="center">
                <p>HTML5 W3C, CSS3, AngularJS</p>

                <p>Изучаю JavaScript</p>

                <p>Рассматриваю предложения о работе.</p>

                <p>В свободное время хожу в походы, катаюсь на горных лыжах и занимаюсь танцами.</p>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="map">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.3916159335463!2d37.816641999999995!3d55.751698999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414acaf2f4363b55%3A0x1c123a66d47f47c3!2z0J3QvtCy0L7Qs9C40YDQtdC10LLQvg!5e0!3m2!1sen!2sru!4v1421182625947">
                </iframe>
            </div>
        </div>
   </div>
</div>