<div class="main">
    <div>
        <h2>Добро пожаловать на мою личную страницу.</h2>
        <p>У этого сайта два основных назначения:</p>
        <p>Использование его в качестве тестовой площадки для отработки приемов html-верстки. В дальнейшем на базе его я планирую сделать свой портфолио.</p>
        <p>Использование его для размещения заметок о путешествиях и фотографий. Я регулярно хожу в пешие походы, и надеюсь, что мои впечатления и информация о посещенных местах будет полезна другим туристам.
            В тексте я оставляю много пометок о местах, которые в той или иной стране не успела, но хотела бы посетить - на память.</p>
    </div>
</div>