<div class="newscontainer">
    <div class="news">
        <h3>09.01.2015. Новогодние каникулы 2015.</h3>
        <p>Заканчивается новогодний отпуск в Геленджике. Завтра утром - на М4, в Москву. В Геленджике впервые видела
            снег на пляже. И нового, стального цвета море при температуре воздуха -10С на побережье.
            Закончена верстка основных 4 разделов этого сайта. Осталось выложить на хостинг. По приезду займусь этим.</p>
    </div>
    <div class="news">
        <h3>26.10.2014. Поход в Турцию "Ликийская тропа".</h3>
        <p>В Турции я была впервые, и впечатления о стране остались самые положительные.
            Обязательно постараюсь вернуться сюда и поездить автономно, без группы: сеть общественного транспорта легко позволяет добраться из одного района в другой, с прокатом машин как я поняла тоже нет проблем.
            С прокатом велосипедов - чуть хуже. Мало качественных и исправных, и далеко не везде их в принципе предлагают.
            Места, которые я  бы хотела посетить при следующей поездке - Стамбул, Каппадокия, пройти следующий участок Ликийской тропы от Чирали на запад.
            В этот раз в Турции я была в октябре, и в горах погода оказалась неприятно и неожиданно холодной.
            В следующий раз нужно будет приехать в мае или сентябре.
            И заранее найти на маршруте приюты, забронировать номера - по Турции можно и нужно ходить налегке - перепады высот в горах заметные, маршруты длинные, по сложной пересеченке.
            Но инфраструктура хорошо развита, везде есть жилье, магазины, кафе.
            Так что в рюкзаках под 20кг нет смысла.</p>
    </div>
    <div class="news">
        <h3>12.05.2014. Черногория.</h3>
        <p>Просто чтоб не забыть:</p>
        <br>Обязательно вернуться на Скадарское озеро. 2 дня в таком месте - это слишком мало. Сюда нужно минимум на неделю, и с дружественной моторкой.
        <br>В Черногории есть хорошие веломаршруты (летние).
        <br>На побережье есть просто волшебные места для тихого отдыха (Булявица например).
        <br>Все жилье, кроме горных приютов - бронировать сильно заранее, тк фонд маленький, а желающих много.
        <br>Не забыть с собой черного чая из России - там его не продают.
    </div>
</div>
